extends layout
block content
    .login
        label(for="user") Usuario
        input#(type="text", name="user")
        label(for="password")
        input#(type="password", name="password")
        button(type="submit") Enviar
